/* ====== GLOBAL ====== */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  --yellow-color: #f59a1b;
  --red-color: #f43127;
}

body {
  font-family: "Lato", sans-serif;
}

h2,
h3,
.offer strong,
.opening-hours span.heading,
.hashtag span,
.itens span,
.offer:nth-child(1) .text span {
  font-family: "Lilita One", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

header,
section {
  padding-inline: 24px;
}

div.item-icon {
  width: 60px;
  height: 60px;
  padding: 14px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fae2cb;
  border-radius: 100%;
}

div.item-icon img {
  width: max-content;
  height: 32px;
}
