/* ====== GLOBAL ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
}

h2,
h3,
.offer strong,
.opening-hours span,
.hashtag span,
.itens span,
.offer:nth-child(1) div:nth-child(2) span {
  font-family: "Lilita One", sans-serif;
  letter-spacing: 0.04em;
}

.none {
  display: none;
}

/* ====== HEADER ====== */
header {
  width: 100%;
  height: 64px;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 24px;

  background: rgba(59, 32, 11, 0.05);
  backdrop-filter: blur(5px);
}

.menu .menu-icon {
  display: flex;
  padding: 7px;

  background: rgba(29, 6, 5, 0.15);
  border-radius: 3px;
}

.menu-icon img {
  width: 1rem;
  height: 1rem;
}

/* ====== MAIN ====== */
section {
  padding-inline: 24px;
}

/* ====== HERO SECTION ====== */
#hero-section {
  height: 856px;
  padding-top: 102px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background-image: url(./assets/banner-hero-mobile.png);
  background-repeat: no-repeat;
  background-position: top center;
}

#hero-section span.heading {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 25px;
}

#hero-section h2 {
  font-size: 3.33423125rem;
  line-height: 59px;
  text-transform: uppercase;
}

#hero-section h2 span.colored {
  color: #f59a1b;
}

#hero-section p {
  font-size: 1rem;
  line-height: 22px;

  color: #1d0605b0;
}

#hero-section p span.highlight {
  font-weight: 900;
  background-color: #f59a1b;
  border-radius: 5px;
  padding: 2px;
}

#hero-section a {
  width: 152px;
  height: 44px;
  padding: 10px 20px;

  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 16px;

  font-weight: 700;
  background-color: #f43127;
  color: #ffffff;
  border-radius: 5px;
}

/* ====== CARD BETWEEN ====== */
.card-itens {
  max-width: 356px;
  margin-top: -114px;
  margin-inline: auto;
  padding: 32px 28px;

  background-color: #ffffff;
  box-shadow: 0px 4px 35px rgba(179, 155, 132, 0.3);
  border-radius: 10px;
}

.card-itens ul {
  width: 100%;
}

.itens {
  display: flex;
  margin-inline: 4px;
}

div.item-icon {
  max-height: 60px;
  padding: 14px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fae2cb;
  border-radius: 50%;
}

.itens .item-icon {
  margin-right: 18px;
}

.item-icon img {
  width: 32px;
  height: 32px;
}

.card-itens hr {
  margin: 16px 0px;
  border: 0.8px solid #492e1526;
}

.card-itens div:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.card-itens div:nth-child(2) span {
  font-size: 1.25rem;
  line-height: 22px;
  text-transform: uppercase;

  color: rgba(29, 6, 5, 0.9);
  opacity: 0.8;
  margin-bottom: 8px;
}

.card-itens div:nth-child(2) p {
  width: 170px;
  line-height: 19px;

  color: #1d0605b0;
  opacity: 0.6;
}

/* ====== OFFERS SECTION ====== */
#offers-section {
  margin-top: 64px;
}

#offers-section h3 {
  font-size: 1.5625rem;
  line-height: 28px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #1d0605e5;
  margin-bottom: 8px;
}

#offers-section p.subtitle-text {
  width: 378px;
  line-height: 22px;
  color: #1d0605b0;
  margin-bottom: 16px;
}

#offers-section .offers {
  display: grid;
  align-items: center;
  justify-content: center;
  row-gap: 8px;
}

.offer {
  width: 381px;
  height: 214px;
  border-radius: 10px;
}

.offer div:nth-child(1) {
  display: grid;
  margin-top: 14px;
  margin-left: 20px;
}

.offer strong {
  font-size: 1.280475rem;
  line-height: 23px;
  text-transform: uppercase;
  opacity: 0.9;
}

.offer small {
  font-size: 1.152425rem;
  line-height: 26px;
  opacity: 0.69;
  margin-top: -2px;
}

.offer:nth-child(1) {
  background-image: url(./assets/offers/offer-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  position: relative;
}

.offer:nth-child(1) div:nth-child(2) {
  display: grid;
  position: absolute;
  right: 0;
  bottom: 0;

  margin-right: 14px;
  margin-bottom: 16px;
}

.offer:nth-child(1) div:nth-child(2) p {
  font-size: 0.682rem;
  line-height: 12px;
  opacity: 0.69;
  margin-bottom: 3px;
}

.offer:nth-child(1) div:nth-child(2) span {
  font-size: 1.24539375rem;
  line-height: 13px;
  text-transform: uppercase;
  opacity: 0.9;
}

.offer:nth-child(2) {
  background-image: url(./assets/offers/offer-2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.offer:nth-child(3) {
  background-image: url(./assets/offers/offer-3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.opening-hours {
  display: flex;
  align-items: center;
  column-gap: 14px;
  padding: 18px 14px;
  margin-top: 38px;

  background-color: #f43127;
  border-radius: 10px;
}

.opening-hours .item-icon {
  max-height: 72px;
  padding: 15px;

  background-color: #1d060533;
}

.opening-hours hr {
  height: 69px;
  border: 1px solid #1d060566;
}

.opening-hours span {
  font-size: 1.125rem;
  line-height: 25px;
  letter-spacing: 0em;
  text-transform: uppercase;

  color: #1d0605b0;
  margin-bottom: 4px;
}

.opening-hours p {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 20px;
  opacity: 0.85;
}

.hashtag {
  display: grid;
  justify-items: center;
  justify-content: center;

  margin-top: 64px;
  text-align: center;
}

.hashtag p.heading {
  font-size: 1.125rem;
  line-height: 25px;
  margin-bottom: 3px;
}

.hashtag span {
  font-size: 2.5637625rem;
  line-height: 28px;
  text-transform: uppercase;
  color: #f43127;
}

/* ====== ADDRESS SECTION ====== */
#address-section {
  text-align: center;
  margin-top: 64px;
  padding-inline: 0;
}

#address-section h3 {
  font-size: 1.5625rem;
  line-height: 28px;
  text-transform: uppercase;
  color: rgba(29, 6, 5, 0.9);
  margin-bottom: 2px;
}

#address-section p {
  line-height: 22px;
  color: rgba(29, 6, 5, 0.69);
  margin-bottom: 16px;
}

#address-section #map {
  width: 100%;
  height: 208px;
}

/* ====== FOOTER ====== */
footer {
  text-align: center;
  padding: 16px 24px;
}

footer hr {
  border: 1px solid #1d060526;
  margin: 14px 0px;
}

footer .contact {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
}

footer nav ul {
  display: grid;
  row-gap: 14px;
}

footer nav .title a {
  font-size: 1.125rem;
  line-height: 25px;
  color: #3a210b;
}

footer nav .title.active {
  font-weight: 700;
}

footer .footer-text {
  font: 0.875rem "Inter", sans-serif;
  line-height: 19px;
  color: rgba(2, 14, 31);
}

footer .footer-text strong {
  opacity: 0.69;
}

footer .footer-text span {
  opacity: 0.3;
}

/* ====== MEDIA QUERIES ====== */
@media (max-width: 375px) {
  img.logo {
    width: 256px;
  }

  header {
    padding-inline: 18px;
  }

  section {
    padding-inline: 18px;
  }

  .card-itens {
    width: 328px;
    padding: 30px 24px;
  }

  .offer {
    width: 338px;
    height: 190px;
  }

  #offers-section p.subtitle-text {
    width: 300px;
  }

  .hashtag p.heading {
    width: 250px;
    margin-bottom: 6px;
  }

  .hashtag span {
    font-size: 2.5rem;
  }

  #address-section h3 {
    font-size: 1.5rem;
  }

  #address-section p {
    font-size: 0.9375rem;
  }

  footer .footer-text {
    display: grid;
    justify-content: center;
  }
}

@media (max-width: 320px) {
  img.logo {
    width: 228px;
  }

  header {
    height: 56px;
  }

  section {
    padding-inline: 16px;
  }

  #hero-section {
    padding-top: 94px;
    background-position: top right;
  }

  #hero-section span.heading {
    font-size: 1rem;
  }

  #hero-section h2 {
    font-size: 3.125rem;
    line-height: 55px;
  }

  #hero-section p {
    font-size: 0.9375rem;
  }

  #hero-section a {
    font-size: 0.9375rem;
  }

  .card-itens {
    width: 280px;
    padding: 24px 18px;
    margin-top: -96px;
  }

  .card-itens div:nth-child(2) span {
    font-size: 1rem;
    margin-bottom: 0px;
  }

  .card-itens div:nth-child(2) p {
    font-size: 0.875rem;
  }

  .itens .item-icon {
    height: 54px;
    padding: 12px;
    margin-right: 16px;
  }

  .item-icon img {
    width: 30px;
    height: 30px;
  }

  #offers-section h3 {
    font-size: 1.5rem;
  }

  #offers-section p.subtitle-text {
    font-size: 0.9375rem;
    width: 280px;
  }

  .offer {
    width: 287px;
    height: 162px;
  }

  .offer strong {
    font-size: 1.125rem;
    line-height: 20px;
  }

  .offer small {
    font-size: 1.0625rem;
  }

  .offer div:nth-child(1) {
    margin-top: 14px;
    margin-left: 16px;
  }

  .offer:nth-child(1) div:nth-child(2) {
    margin-right: 12px;
    margin-bottom: 14px;
  }

  .offer:nth-child(1) div:nth-child(2) p {
    font-size: 0.625rem;
  }

  .offer:nth-child(1) div:nth-child(2) span {
    font-size: 1.1875rem;
  }

  .opening-hours span {
    font-size: 1rem;
    line-height: 22px;
  }

  .opening-hours p {
    font-size: 0.8125rem;
    line-height: 18px;
  }

  .hashtag p.heading {
    width: 220px;
    font-size: 1rem;
  }

  .hashtag span {
    font-size: 2.25rem;
  }

  #address-section h3 {
    width: 200px;
    font-size: 1.375rem;
    margin-inline: auto;
  }

  #address-section p {
    width: 210px;
    font-size: 0.875rem;
    margin-inline: auto;
  }

  footer nav .title a {
    font-size: 1rem;
  }

  footer .footer-text {
    font-size: 0.8125rem;
    line-height: 17px;
  }
}
