/* ====== GLOBAL ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
}

h2,
h3,
.offer strong,
.opening-hours span,
.hashtag span,
.itens span,
.offer:nth-child(1) div:nth-child(2) span {
  font-family: "Lilita One", sans-serif;
  letter-spacing: 0.04em;
}

.none {
  display: none;
}

/* ====== HEADER ====== */
header {
  width: 100vw;
  height: 64px;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 24px;

  background: rgba(59, 32, 11, 0.05);
  backdrop-filter: blur(5px);
}

.menu .menu-icon {
  display: flex;
  padding: 7px;

  background: rgba(29, 6, 5, 0.15);
  border-radius: 3px;
}

.menu-icon img {
  width: 1rem;
  height: 1rem;
}

/* ====== MAIN ====== */
section {
  padding-inline: 24px;
}

/* ====== HERO SECTION ====== */
#hero-section {
  height: 856px;
  padding-top: 102px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background-image: url(./assets/banner-hero-mobile.png);
  background-repeat: no-repeat;
}

#hero-section span.heading {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 25px;
}

#hero-section h2 {
  font-size: 53.3477px;
  line-height: 59px;
  text-transform: uppercase;
}

#hero-section h2 span.colored {
  color: #f59a1b;
}

#hero-section p {
  font-size: 1rem;
  line-height: 22px;

  color: #1d0605b0;
}

#hero-section p span.highlight {
  font-weight: 900;
  background-color: #f59a1b;
  border-radius: 5px;
  padding: 2px;
}

#hero-section a {
  width: 152px;
  height: 44px;
  padding: 10px 20px;
  margin-top: 16px;

  font-weight: 700;
  background-color: #f43127;
  color: #ffffff;
  border-radius: 5px;
}

/* ====== CARD BETWEEN ====== */
.card-itens {
  width: 356px;
  position: absolute;
  margin: -114px 36px 0px;
  padding: 32px 28px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #ffffff;
  box-shadow: 0px 4px 35px rgba(179, 155, 132, 0.3);
  border-radius: 10px;
}

.card-itens ul {
  width: 100%;
}

.itens {
  display: flex;
  margin-inline: 4px;
}

.itens .item-icon {
  max-height: 60px;
  padding: 14px;

  display: flex;
  margin-right: 18px;

  background-color: #fae2cb;
  border-radius: 50%;
}

.item-icon img {
  width: 32px;
  height: 32px;
}

.card-itens hr {
  margin: 16px 0px;
  border: 0.8px solid #492e1526;
}

.card-itens div {
  display: flex;
  flex-direction: column;
}

.card-itens div span {
  font-size: 1.25rem;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.card-itens div p {
  width: 170px;
  line-height: 19px;
  color: #1d0605b0;
  opacity: 0.6;
}

/* ====== OFFERS SECTION ====== */
#offers-section {
  margin-top: 280px;
}

#offers-section h3 {
  font-size: 1.5625rem;
  line-height: 28px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1d0605e5;
  margin-bottom: 8px;
}

#offers-section p.subtitle-text {
  width: 378px;
  line-height: 22px;
  color: #1d0605b0;
  margin-bottom: 16px;
}

#offers-section .offers {
  display: grid;
  align-items: center;
  justify-content: center;
  row-gap: 8px;
}

.offer {
  width: 380px;
  height: 213px;
}

.offer div:nth-child(1) {
  display: grid;
  margin-top: 14px;
  margin-left: 20px;
}

.offer strong {
  font-size: 20.4876px;
  line-height: 23px;
  text-transform: uppercase;
  opacity: 0.9;
}

.offer small {
  font-size: 18.4388px;
  line-height: 26px;
  opacity: 0.69;
  margin-top: -2px;
}

.offer:nth-child(1) {
  background-image: url(./assets/offers/offer-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  position: relative;
}

.offer:nth-child(1) div:nth-child(2) {
  display: grid;
  position: absolute;
  right: 0;
  bottom: 0;

  margin-right: 14px;
  margin-bottom: 16px;
}

.offer:nth-child(1) div:nth-child(2) p {
  font-size: 10.912px;
  line-height: 12px;
  opacity: 0.69;
  margin-bottom: 3px;
}

.offer:nth-child(1) div:nth-child(2) span {
  font-size: 19.9263px;
  line-height: 13px;
  text-transform: uppercase;
  opacity: 0.9;
}

.offer:nth-child(2) {
  background-image: url(./assets/offers/offer-2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.offer:nth-child(3) {
  background-image: url(./assets/offers/offer-3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.opening-hours {
  background-color: #f43127;
  display: flex;
  align-items: center;
  column-gap: 14px;
  padding: 18px 14px;
  border-radius: 10px;
  margin-top: 38px;
}

.opening-hours .item-icon {
  max-height: 72px;
  padding: 15px;
  display: flex;
  background-color: #1d060533;
  border-radius: 50%;
}

.opening-hours hr {
  height: 69px;
  border: 1px solid #1d060566;
}

.opening-hours span {
  color: #1d0605b0;
  font-size: 1.125rem;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0em;
  margin-bottom: 4px;
}

.opening-hours p {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 20px;
  opacity: 0.85;
}

.hashtag {
  margin-top: 64px;
  text-align: center;
}

.hashtag p.heading {
  font-size: 1.125rem;
  line-height: 25px;
  margin-bottom: 3px;
}

.hashtag span {
  font-size: 41.0202px;
  line-height: 28px;
  text-transform: uppercase;
  color: #f43127;
}

/* ====== ADDRESS SECTION ====== */
#address-section {
  text-align: center;
  margin-top: 64px;
  padding-inline: 0;
}

#address-section h3 {
  font-size: 25px;
  line-height: 28px;
  text-transform: uppercase;
  color: rgba(29, 6, 5, 0.9);
  margin-bottom: 2px;
}

#address-section p {
  line-height: 22px;
  color: rgba(29, 6, 5, 0.69);
  margin-bottom: 16px;
}

#address-section #map {
  width: 100vw;
  height: 208px;
}

/* ====== FOOTER ====== */
footer {
  text-align: center;
  padding: 18px 24px;
}

footer hr {
  border: 1px solid #1d060526;
  margin: 14px 0px;
}

footer .contact {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
}

footer nav ul {
  display: grid;
  row-gap: 14px;
}

footer nav .title a {
  font-size: 1.125rem;
  line-height: 25px;
  color: #3a210b;
}

footer nav .title.active {
  font-weight: 700;
}

footer .footer-text {
  font: 1.125rem 19px "Inter", sans-serif;
  color: rgba(2, 14, 31);
}

footer .footer-text strong {
  opacity: 0.69;
}

footer .footer-text span {
  opacity: 0.3;
}
